.ooafq { 
  margin-left: 46px;
  border-top-width: 67px;
  padding-bottom: 85px;
  border-left-width: 92px;
  border-top-width: 50px;
  border-bottom-width: 64px;
  border-bottom-width: 39px;
  padding-bottom: 66px;
  border-left-width: 19px;
  padding-left: 21px;
  border-left-width: 80px;
  padding-right: 81px;
  border-left-width: 95px;
  border-left-width: 14px;
  border-top-width: 1px;
  padding-left: 30px;
  border-right-width: 64px;
  margin-top: 96px;
  margin-bottom: 36px;
  border-bottom-width: 48px;
  border-right-width: 46px;
  border-left-width: 24px;
  padding-right: 96px;
  padding-bottom: 14px;
  margin-bottom: 48px;
  padding-right: 88px;
  border-left-width: 17px;
  border-left-width: 88px;
  padding-right: 8px;
  border-left-width: 62px;
  padding-left: 79px;
  border-top-width: 38px;
  border-bottom-width: 27px;
  border-right-width: 27px;
  font-size: 80px;
  padding-top: 62px;
  margin-right: 28px;
  border-top-width: 45px;
  margin-top: 74px;
  margin-top: 53px;
  padding-right: 82px;
  padding-bottom: 27px;
  padding-right: 9px;
  border-top-width: 86px;
  font-size: 58px;
  margin-top: 24px;
  margin-left: 33px;
  margin-right: 92px;
  margin-left: 57px;
  margin-left: 80px;
  border-right-width: 12px;
  margin-top: 66px;
  border-left-width: 30px;
  margin-top: 58px;
  margin-right: 71px;
  padding-bottom: 7px;
  margin-bottom: 44px;
  line-height: 62px;
  margin-left: 66px;
  font-size: 9px;
  padding-top: 40px;
  margin-bottom: 64px;
  border-bottom-width: 29px;
  border-top-width: 40px;
  border-right-width: 94px;
  border-top-width: 12px;
  border-left-width: 72px;
  border-right-width: 21px;
  border-right-width: 69px;
  line-height: 70px;
  margin-top: 11px;
  padding-right: 9px;
  border-bottom-width: 42px;
  padding-left: 93px;
  border-left-width: 69px;
  padding-right: 18px;
  border-bottom-width: 62px;
  border-top-width: 53px;
  padding-left: 72px;
  margin-right: 87px;
  border-bottom-width: 43px;
  font-size: 3px;
  border-top-width: 50px;
  margin-top: 45px;
  border-left-width: 24px;
  margin-left: 91px;
  margin-right: 27px;
  line-height: 86px;
  margin-bottom: 10px;
  border-left-width: 99px;
  border-left-width: 30px;
  border-right-width: 2px;
  margin-top: 63px;
  font-size: 88px;
  border-bottom-width: 50px;
  border-right-width: 94px;
  padding-left: 61px;
  margin-top: 82px;
  border-left-width: 46px;
  margin-bottom: 39px;
}
