.gvfbb { 
  margin-top: 74px;
  border-right-width: 24px;
  border-left-width: 92px;
  border-bottom-width: 58px;
  border-left-width: 19px;
  border-bottom-width: 31px;
  padding-left: 26px;
  padding-left: 0px;
  padding-left: 72px;
  padding-right: 55px;
  font-size: 71px;
  border-left-width: 28px;
  margin-bottom: 32px;
  padding-top: 47px;
  margin-bottom: 53px;
  border-bottom-width: 50px;
  padding-left: 30px;
  padding-bottom: 32px;
  padding-left: 78px;
  padding-left: 45px;
  border-right-width: 68px;
  border-right-width: 95px;
  font-size: 58px;
  border-top-width: 48px;
  padding-right: 43px;
  padding-top: 42px;
  line-height: 26px;
  border-top-width: 80px;
  margin-top: 77px;
  border-top-width: 37px;
  padding-left: 70px;
  line-height: 76px;
  border-bottom-width: 7px;
  border-right-width: 8px;
  padding-bottom: 22px;
  margin-left: 97px;
  line-height: 93px;
  margin-right: 54px;
  border-left-width: 29px;
  margin-right: 26px;
  padding-top: 64px;
  margin-right: 32px;
  margin-left: 29px;
  border-bottom-width: 32px;
  padding-bottom: 97px;
  border-left-width: 82px;
  line-height: 99px;
  font-size: 87px;
  border-left-width: 58px;
  margin-bottom: 62px;
  margin-right: 82px;
  padding-right: 17px;
  margin-right: 8px;
  border-top-width: 81px;
  font-size: 37px;
  padding-left: 55px;
  padding-top: 33px;
  margin-top: 8px;
  padding-top: 96px;
  margin-right: 27px;
  margin-top: 64px;
  padding-left: 38px;
  margin-right: 14px;
  border-right-width: 39px;
  border-left-width: 68px;
  border-right-width: 80px;
  margin-left: 58px;
  margin-top: 39px;
  font-size: 36px;
  padding-left: 68px;
  border-left-width: 19px;
  margin-top: 20px;
  border-right-width: 6px;
  padding-bottom: 96px;
  margin-top: 9px;
  padding-right: 10px;
  margin-bottom: 55px;
  padding-right: 89px;
  border-bottom-width: 65px;
  margin-left: 54px;
  padding-left: 14px;
  padding-right: 2px;
  font-size: 8px;
  border-bottom-width: 62px;
  margin-left: 78px;
  border-right-width: 51px;
  margin-left: 51px;
  border-left-width: 4px;
  font-size: 0px;
  border-bottom-width: 11px;
  padding-bottom: 69px;
  padding-left: 7px;
  font-size: 17px;
  font-size: 35px;
  border-bottom-width: 67px;
  border-left-width: 36px;
}
