.gvfbb { 
  margin-top: 74px;
  border-right-width: 24px;
  border-left-width: 92px;
  border-bottom-width: 58px;
  border-left-width: 19px;
  border-bottom-width: 31px;
  padding-left: 26px;
  padding-left: 0px;
  padding-left: 72px;
  padding-right: 55px;
  font-size: 71px;
  border-left-width: 28px;
  margin-bottom: 32px;
  padding-top: 47px;
  margin-bottom: 53px;
  border-bottom-width: 50px;
  padding-left: 30px;
  padding-bottom: 32px;
  padding-left: 78px;
  padding-left: 45px;
  border-right-width: 68px;
  border-right-width: 95px;
  font-size: 58px;
  border-top-width: 48px;
  padding-right: 43px;
  padding-top: 42px;
  line-height: 26px;
  border-top-width: 80px;
  margin-top: 77px;
  border-top-width: 37px;
  padding-left: 70px;
  line-height: 76px;
  border-bottom-width: 7px;
  border-right-width: 8px;
  padding-bottom: 22px;
  margin-left: 97px;
  line-height: 93px;
  margin-right: 54px;
  border-left-width: 29px;
  margin-right: 26px;
  padding-top: 64px;
  margin-right: 32px;
  margin-left: 29px;
  border-bottom-width: 32px;
  padding-bottom: 97px;
  border-left-width: 82px;
  line-height: 99px;
  font-size: 87px;
  border-left-width: 58px;
  margin-bottom: 62px;
  margin-right: 82px;
  padding-right: 17px;
  margin-right: 8px;
  border-top-width: 81px;
  font-size: 37px;
  padding-left: 55px;
  padding-top: 33px;
  margin-top: 8px;
  padding-top: 96px;
  margin-right: 27px;
  margin-top: 64px;
  padding-left: 38px;
  margin-right: 14px;
  border-right-width: 39px;
  border-left-width: 68px;
  border-right-width: 80px;
  margin-left: 58px;
  margin-top: 39px;
  font-size: 36px;
  padding-left: 68px;
  border-left-width: 19px;
  margin-top: 20px;
  border-right-width: 6px;
  padding-bottom: 96px;
  margin-top: 9px;
  padding-right: 10px;
  margin-bottom: 55px;
  padding-right: 89px;
  border-bottom-width: 65px;
  margin-left: 54px;
  padding-left: 14px;
  padding-right: 2px;
  font-size: 8px;
  border-bottom-width: 62px;
  margin-left: 78px;
  border-right-width: 51px;
  margin-left: 51px;
  border-left-width: 4px;
  font-size: 0px;
  border-bottom-width: 11px;
  padding-bottom: 69px;
  padding-left: 7px;
  font-size: 17px;
  font-size: 35px;
  border-bottom-width: 67px;
  border-left-width: 36px;
  margin-right: 30px;
  border-bottom-width: 59px;
  margin-left: 32px;
  font-size: 71px;
  padding-left: 75px;
  border-bottom-width: 65px;
  line-height: 10px;
  font-size: 96px;
  padding-top: 95px;
  margin-right: 40px;
  border-bottom-width: 27px;
  margin-right: 38px;
  margin-top: 57px;
  border-left-width: 6px;
  margin-left: 43px;
  margin-left: 45px;
  border-top-width: 18px;
  margin-top: 85px;
  padding-top: 92px;
  border-right-width: 62px;
  padding-top: 43px;
  padding-bottom: 34px;
  line-height: 73px;
  padding-top: 74px;
  line-height: 56px;
  border-left-width: 24px;
  border-left-width: 34px;
  padding-top: 9px;
  border-right-width: 15px;
  font-size: 74px;
  padding-right: 21px;
  margin-right: 2px;
  padding-right: 74px;
  margin-left: 2px;
  border-bottom-width: 52px;
  padding-right: 11px;
  border-top-width: 17px;
  border-right-width: 71px;
  padding-right: 10px;
  border-bottom-width: 19px;
  padding-bottom: 51px;
  margin-top: 92px;
  margin-right: 8px;
  padding-right: 48px;
  margin-bottom: 10px;
  padding-top: 45px;
  border-bottom-width: 98px;
  border-left-width: 71px;
  border-bottom-width: 23px;
  border-left-width: 48px;
  line-height: 22px;
  padding-left: 85px;
  border-left-width: 92px;
  margin-right: 72px;
  padding-right: 4px;
  padding-bottom: 31px;
  line-height: 7px;
  border-top-width: 76px;
  line-height: 92px;
  padding-bottom: 48px;
  padding-left: 74px;
  border-right-width: 96px;
  margin-right: 70px;
  padding-left: 9px;
  padding-top: 26px;
  line-height: 3px;
  margin-top: 22px;
  border-left-width: 96px;
  border-bottom-width: 97px;
  border-top-width: 46px;
  margin-top: 47px;
  margin-top: 67px;
  padding-left: 85px;
  padding-top: 85px;
  padding-bottom: 75px;
  margin-right: 70px;
  margin-bottom: 90px;
  margin-right: 4px;
  margin-bottom: 38px;
  margin-left: 58px;
  border-top-width: 63px;
  line-height: 99px;
  padding-bottom: 24px;
  padding-bottom: 38px;
  padding-top: 34px;
  padding-right: 86px;
  margin-right: 1px;
  padding-top: 74px;
  padding-right: 1px;
  padding-left: 29px;
  border-left-width: 71px;
  padding-left: 40px;
  padding-top: 12px;
  border-top-width: 46px;
  padding-bottom: 44px;
  margin-bottom: 41px;
  margin-top: 62px;
  border-right-width: 12px;
  line-height: 29px;
  border-right-width: 28px;
}
